
{% extends 'master.html' %}
{% load static %}
{% block title %}
{{ category_name }}
{% endblock %}
{% block slider %}
    <div class="container">
        <div class="row  " style="height: 500px;">
            <div class="card col border-0">
                <img class="w-100 h-100 card-img-overlay img-fluid" src="{% static 'img/4.jpg' %}">
            </div>
            <div class="col">
                <div class="card row h-50 border-0">
                    <img class="w-100 h-100 card-img-overlay img-fluid" src="{% static 'img/2.jpg' %}">
                </div>
                <div class="card row h-50 border-0">
                    <img class="w-100 h-100 card-img-overlay img-fluid" src="{% static 'img/14.jpg' %}">
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="container-fluid text-right p-5" style="background-color:rgba(215,249,255,0.36)">
        <div class="row justify-content-center">
            {% for business in category_businesses %}
                <div class="bg-transparent col-md-4 col-sm-10 col-12 fadeInanim ">
                    <div class="bg-transparent card m-3">
                        <img class="card-img-top" src="{{business.image.url}}" alt="Card image cap">
                        <div class="card-block p-2">
                            <div class="breadcrumb">
                                <div class="breadcrumb-item">{{ business.name }}</div>
                                <div class="breadcrumb-item">{{business.score}}</div>
                            </div>
                            <p class="card-text">{{ business.description }}</p>
                            <a href="{% url 'BusinessPage' business.id %}" class="btn btn-info btn-block">بیشتر...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock content %}

</body>
</html>
