<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Doctor Category</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>
    <link
            rel="stylesheet"
            href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css"
            integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz"
            crossorigin="anonymous">
</head>
<style>


    body {
        background-color: #F9FBFD;
        font-family: BYekan, 'BYekan', tahoma;
    }

</style>

<body>


<div class="container mb-5">
    <nav class="navbar navbar-dark navbar-expand-md  text-center" style="background-color:#243055">
        <a class="navbar-brand" href="#">اسم رستوران</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto   ">
                <li class="nav-item mr-4">
                    <a class="nav-link" href="index.html">خانه</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="restaurant.html">رستوران</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="cafe.html">کافه</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="hotel.html">هتل</a>
                </li>

                <li class="nav-item mr-4">
                    <a class="nav-link" href="doctor.html">پزشک</a>
                </li>

                <li class="nav-item mr-4">
                    <a class="nav-link" href="BusinessSelectPage.html">آرایشگاه</a>
                </li>
            </ul>
            <span class="ml-auto">
                <a href="AccountPage.html"><i class="ion-person" style="font-size: 3em;color: white"></i></a>
            </span>
        </div>
    </nav>

    <form class="form-inline float-right mt-4">
        <input type="text" class="form-control" placeholder="جست وجو">
        <button class="btn btn-outline-info">بگرد</button>
    </form>

</div>

<br><br>
<!-- CARDS -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-10 col-12">
            <div class="card m-3">
                <img class="card-img-top" src="images/dentist.png" alt="Card image cap">
                <div class="card-block p-2">
                    <h4 class="card-title">عمارت فردوس</h4>
                    <p class="card-text">ثبت خاطراتی خوش در رستوران دل انگیز عمارت فردوس</p>
                    <a href="#" class="btn btn-info btn-block">بیشتر...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-10 col-12">
            <div class="card m-3">
                <img class="card-img-top" src="images/dentist.png" alt="Card image cap">
                <div class="card-block p-2">
                    <h4 class="card-title">عمارت فردوس</h4>
                    <p class="card-text">ثبت خاطراتی خوش در رستوران دل انگیز عمارت فردوس</p>
                    <a href="#" class="btn btn-info btn-block">بیشتر...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-10 col-12">
            <div class="card m-3">
                <img class="card-img-top" src="images/dentist.png" alt="Card image cap">
                <div class="card-block p-2">
                    <h4 class="card-title">عمارت فردوس</h4>
                    <p class="card-text">ثبت خاطراتی خوش در رستوران دل انگیز عمارت فردوس</p>
                    <a href="#" class="btn btn-info btn-block">بیشتر...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-10 col-12">
            <div class="card m-3">
                <img class="card-img-top" src="images/dentist.png" alt="Card image cap">
                <div class="card-block p-2">
                    <h4 class="card-title">عمارت فردوس</h4>
                    <p class="card-text">ثبت خاطراتی خوش در رستوران دل انگیز عمارت فردوس</p>
                    <a href="#" class="btn btn-info btn-block">بیشتر...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-10 col-12">
            <div class="card m-3">
                <img class="card-img-top" src="images/dentist.png" alt="Card image cap">
                <div class="card-block p-2">
                    <h4 class="card-title">عمارت فردوس</h4>
                    <p class="card-text">ثبت خاطراتی خوش در رستوران دل انگیز عمارت فردوس</p>
                    <a href="#" class="btn btn-info btn-block">بیشتر...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-10 col-12">
            <div class="card m-3">
                <img class="card-img-top" src="images/dentist.png" alt="Card image cap">
                <div class="card-block p-2">
                    <h4 class="card-title">عمارت فردوس</h4>
                    <p class="card-text">ثبت خاطراتی خوش در رستوران دل انگیز عمارت فردوس</p>
                    <a href="#" class="btn btn-info btn-block">بیشتر...</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="margin-top:500px;"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>
