{% extends 'master.html' %}
{% load static %}
{% block style %}
    .col{
    padding-left: .7%;
    padding-right:.7%;

    }

{% endblock %}

{% block slider %}
{% endblock slider %}
{% block content %}
<div class="container-fluid">
    <div class="row mt-5 p-1 border rounded "
    style="background-color:rgba(50,206,253,0.06)">
   <div class="col text-center">
       <p style="font-size: 1em">شنبه</p>
       {% for sans in days.0 %}

           <div class=" time mt-md-3 mt-sm-2">
                    <button class="btn btn-outline-info  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#{{ forloop.counter }}0"><a>{{ sans.start_time }}</a><a>to</a><a>{{ sans.end_time }}</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="{{ forloop.counter }}0" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>

                       <div class="modal-body">

                           you Changing sans {{ sans.sansdata.start_time }}
                           to {{ sans.sansdata.end_time }}
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'editSans' sans.id service.id  %}" >
                           {% csrf_token %}
                            <input name="start_time" value={{ sans.start_time }} type="text">
                            <input name="end_time" value={{ sans.end_time }} type="text">
                                <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                            </form>
                           <a href="{% url 'deleteSans' sans.id service.id%}">
              <button class="btn btn-danger  w-100" >
                  حذف
              </button>
           </a>
                       </div>
                   </div>
               </div>
           </div>
       {% endfor %}
   <div class=" time mt-md-3 mt-sm-2">
                    <button class="btn btn-outline-success  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#0"><a>اضافه کردن</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="0" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'addSans' service.id  service.timetable_id  0 %}" >
                           {% csrf_token %}
                            <input name="start_time" value="8.30" type="text">
                            <input name="end_time" value="22.30" type="text">
                                <button class="btn btn-primary" type="submit">ثبت </button>
                            </form>

                       </div>
                   </div>
               </div>
           </div>
   </div>
   <div class="col text-center">
       <p style="font-size: 1em">یکشنبه</p>
       {% for sans in days.1 %}


           <div class=" time mt-md-3 mt-sm-2">


                    <button class="btn btn-outline-info  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#{{ forloop.counter }}1"><a>{{ sans.start_time }}</a><a>to</a><a>{{ sans.end_time }}</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="{{ forloop.counter }}1" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>

                       <div class="modal-body">

                           you Changing sans {{ sans.sansdata.start_time }}
                           to {{ sans.sansdata.end_time }}
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'editSans' sans.id service.id %}" >
                           {% csrf_token %}
                            <input name="start_time" value={{ sans.start_time }} type="text">
                            <input name="end_time" value={{ sans.end_time }} type="text">
                                <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                            </form>
                           <a href="{% url 'deleteSans' sans.id service.id%}">
              <button class="btn btn-danger  w-100" >
                  حذف
              </button>
           </a>
                       </div>
                   </div>
               </div>
           </div>
       {% endfor %}
    <div class=" time mt-md-3 mt-sm-2">
                    <button class="btn btn-outline-success  w-100" data-toggle="modal"
                        data-target="#1"><a>اضافه کردن</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="1" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'addSans' service.id  service.timetable_id  1 %}" >
                           {% csrf_token %}
                            <input name="start_time" value="8.30" type="text">
                            <input name="end_time" value="22.30" type="text">
                                <button class="btn btn-primary" type="submit">ثبت </button>
                            </form>

                       </div>
                   </div>
               </div>
           </div>

   </div>
   <div class="col text-center">
       <p style="font-size: 1em">دوشنبه</p>
       {% for sans in days.2 %}


           <div class=" time mt-md-3 mt-sm-2">


                    <button class="btn btn-outline-info  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#{{ forloop.counter }}2"><a>{{ sans.start_time }}</a><a>to</a><a>{{ sans.end_time }}</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="{{ forloop.counter }}2" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>

                       <div class="modal-body">

                           you Changing sans {{ sans.sansdata.start_time }}
                           to {{ sans.sansdata.end_time }}
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'editSans' sans.id service.id %}" >
                           {% csrf_token %}
                            <input name="start_time" value={{ sans.start_time }} type="text">
                            <input name="end_time" value={{ sans.end_time }} type="text">
                                <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                            </form>
                           <a href="{% url 'deleteSans' sans.id service.id%}">
              <button class="btn btn-danger  w-100" >
                  حذف
              </button>
           </a>
                       </div>
                   </div>
               </div>
           </div>
       {% endfor %}
    <div class=" time mt-md-3 mt-sm-2">
                    <button class="btn btn-outline-success  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#2"><a>اضافه کردن</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="2" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'addSans' service.id  service.timetable_id  2 %}" >
                           {% csrf_token %}
                            <input name="start_time" value="8.30" type="text">
                            <input name="end_time" value="22.30" type="text">
                                <button class="btn btn-primary" type="submit">ثبت </button>
                            </form>

                       </div>
                   </div>
               </div>
           </div>
   </div>
   <div class="col text-center">
       <p style="font-size: 1em">سه شنبه</p>
       {% for sans in days.3 %}


           <div class=" time mt-md-3 mt-sm-2">


                    <button class="btn btn-outline-info  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#{{ forloop.counter }}3"><a>{{ sans.start_time }}</a><a>to</a><a>{{ sans.end_time }}</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="{{ forloop.counter }}3" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>

                       <div class="modal-body">

                           you Changing sans {{ sans.sansdata.start_time }}
                           to {{ sans.sansdata.end_time }}
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'editSans' sans.id service.id %}" >
                           {% csrf_token %}
                            <input name="start_time" value={{ sans.start_time }} type="text">
                            <input name="end_time" value={{ sans.end_time }} type="text">
                                <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                            </form>
                           <a href="{% url 'deleteSans' sans.id service.id%}">
              <button class="btn btn-danger  w-100" >
                  حذف
              </button>
           </a>
                       </div>
                   </div>
               </div>
           </div>
       {% endfor %}
    <div class=" time mt-md-3 mt-sm-2">
                    <button class="btn btn-outline-success  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#3"><a>اضافه کردن</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="3" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'addSans' service.id  service.timetable_id  3 %}" >
                           {% csrf_token %}
                            <input name="start_time" value="8.30" type="text">
                            <input name="end_time" value="22.30" type="text">
                                <button class="btn btn-primary" type="submit">ثبت </button>
                            </form>

                       </div>
                   </div>
               </div>
           </div>
   </div>
   <div class="col text-center">
       <p style="font-size: 1em">چهارشنبه</p>
       {% for sans in days.4 %}


           <div class=" time mt-md-3 mt-sm-2">


                    <button class="btn btn-outline-info  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#{{ forloop.counter }}4"><a>{{ sans.start_time }}</a><a>to</a><a>{{ sans.end_time }}</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="{{ forloop.counter }}4" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>

                       <div class="modal-body">

                           you Changing sans {{ sans.sansdata.start_time }}
                           to {{ sans.sansdata.end_time }}
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'editSans' sans.id service.id %}" >
                           {% csrf_token %}
                            <input name="start_time" value={{ sans.start_time }} type="text">
                            <input name="end_time" value={{ sans.end_time }} type="text">
                                <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                            </form>
                           <a href="{% url 'deleteSans' sans.id service.id%}">
              <button class="btn btn-danger  w-100" >
                  حذف
              </button>
           </a>
                       </div>
                   </div>
               </div>
           </div>

       {% endfor %}
    <div class=" time mt-md-3 mt-sm-2">
                    <button class="btn btn-outline-success  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#4"><a>اضافه کردن</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="4" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'addSans' service.id  service.timetable_id  4 %}" >
                           {% csrf_token %}
                            <input name="start_time" value="8.30" type="text">
                            <input name="end_time" value="22.30" type="text">
                                <button class="btn btn-primary" type="submit">ثبت </button>
                            </form>

                       </div>
                   </div>
               </div>
           </div>
   </div>
   <div class="col text-center">
       <p style="font-size: 1em">پنجشنبه</p>
       {% for sans in days.5 %}


           <div class=" time mt-md-3 mt-sm-2">


                    <button class="btn btn-outline-info  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#{{ forloop.counter }}5"><a>{{ sans.start_time }}</a><a>to</a><a>{{ sans.end_time }}</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="{{ forloop.counter }}5" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>

                       <div class="modal-body">

                           you Changing sans {{ sans.start_time }}
                           to {{ sans.end_time }}
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'editSans' sans.id service.id %}" >
                           {% csrf_token %}
                            <input name="start_time" value={{ sans.start_time }} type="text">
                            <input name="end_time" value={{ sans.end_time }} type="text">
                                <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                            </form>
                           <a href="{% url 'deleteSans' sans.id service.id%}">
              <button class="btn btn-danger  w-100" >
                  حذف
              </button>
           </a>
                       </div>
                   </div>
               </div>
           </div>
        {% endfor %}
    <div class=" time mt-md-3 mt-sm-2">
                    <button class="btn btn-outline-success  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#5"><a>اضافه کردن</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="5" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'addSans' service.id  service.timetable_id  5 %}" >
                           {% csrf_token %}
                            <input name="start_time" value="8.30" type="text">
                            <input name="end_time" value="22.30" type="text">
                                <button class="btn btn-primary" type="submit">ثبت </button>
                            </form>

                       </div>
                   </div>
               </div>
           </div>
   </div>
   <div class="col text-center">
       <p style="font-size: 1em">جمعه</p>
       {% for sans in days.6 %}


           <div class=" time mt-md-3 mt-sm-2">


                    <button class="btn btn-outline-info  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#{{ forloop.counter }}6"><a>{{ sans.start_time }}</a><a>to</a><a>{{ sans.end_time }}</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="{{ forloop.counter }}6" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>

                       <div class="modal-body">

                           you Changing sans {{ sans.sansdata.start_time }}
                           to {{ sans.sansdata.end_time }}
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'editSans' sans.id service.id %}" >
                           {% csrf_token %}
                            <input name="start_time" value={{ sans.start_time }} type="text">
                            <input name="end_time" value={{ sans.end_time }} type="text">
                                <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                            </form>
                           <a href="{% url 'deleteSans' sans.id service.id%}">
              <button class="btn btn-danger  w-100" >
                  حذف
              </button>
           </a>
                       </div>
                   </div>
               </div>
           </div>

       {% endfor %}
    <div class=" time mt-md-3 mt-sm-2">
                    <button class="btn btn-outline-success  w-100" data-toggle="modal" {% if sans.is_reserved %}
                        style="background-color: #0e8c8c ; color: black" disabled {% endif %}
                        data-target="#6"><a>اضافه کردن</a>
                   </button>

           </div>
           <!-- Modal -->

           <div class="modal fade" id="6" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">

               <div class="modal-dialog" role="document">

                   <div class="modal-content">
                       <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"></h5>
                           <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                       </div>
                       <div class="modal-footer">
                            <form method="post" action="{% url 'addSans' service.id  service.timetable_id  6 %}" >
                           {% csrf_token %}
                            <input name="start_time" value="8.30" type="text">
                            <input name="end_time" value="22.30" type="text">
                                <button class="btn btn-primary" type="submit">ثبت </button>
                            </form>

                       </div>
                   </div>
               </div>
           </div>
   </div>
</div>
</div>
{% endblock %}