<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/indexStyle.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>
    <link
            rel="stylesheet"
            href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css"
            integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz"
            crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>زنبیل</title>
    <style>
        body {
            background-color: #F9FBFD;
            font-family: BYekan, 'BYekan', tahoma;
        }

    </style>
</head>
<body>


<!-- search form -->
<div class="container mb-5">
    <nav class="navbar navbar-dark navbar-expand-md  text-center" style="background-color:#243055">
        <a class="navbar-brand" href="#">اسم رستوران</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto   ">
                <li class="nav-item mr-4">
                    <a class="nav-link" href="">خانه</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="restaurant.html">رستوران</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="cafe.html">کافه</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="hotel.html">هتل</a>
                </li>

                <li class="nav-item mr-4">
                    <a class="nav-link" href="doctor.html">پزشک</a>
                </li>

                <li class="nav-item mr-4">
                    <a class="nav-link" href="BusinessSelectPage.html">آرایشگاه</a>
                </li>
            </ul>
            <span class="ml-auto">
                <a href="AccountPage.html"><i class="ion-person" style="font-size: 3em;color: white"></i></a>
            </span>
        </div>
    </nav>

    <form class="form-inline float-right mt-4">
        <input type="text" class="form-control" placeholder="جست وجو">
        <button class="btn btn-outline-info">بگرد</button>
    </form>

</div>

<!-- NAVBAR -->

<br><br>
<div class="container">

    <!-- SLIDER-->
    <div id="slider" class="carousel slide" data-ride="carousel" dir="ltr" style="height: 80vh">
        <ol class="carousel-indicators">
            <li class="active" data-target="#slider" data-slide-to="0"></li>
            <li class="active" data-target="#slider" data-slide-to="1"></li>
            <li class="active" data-target="#slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner h-100 " role="listbox">
            <div class="carousel-item active h-100">
                <div class="card h-100">
                    <img src="images/dentist.png" alt="Second Slide" class="card-img d-block img-fluid h-100">
                    <div class="card-img-overlay ">
                        <div class="card-text carousel-caption d-none d-md-block" style="background-color: rgba(168,167,190,0.26);color:#243055 ">
                            <h3>انی سا</h3>
                            <p>لبخندی زیبا در مرکز دندانپزشکی انی سا</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100">
                <img src="images/atmosfera3.jpg" alt="First Slide" class="d-block img-fluid h-100 w-100">
                <div class="carousel-caption d-none d-md-block"  style="background-color: rgba(168,167,190,0.26);color:#243055">
                    <h3>عمارت فردوس</h3>
                    <p>ثبت خاطراتی خوش در رستوران دل انگیز عمارت فردوس</p>
                </div>
            </div>
            <div class="carousel-item h-100">
                <img src="images/hotel1.jpg" alt="Third Slide" class="d-block img-fluid h-100 w-100">
                <div class="carousel-caption d-none d-md-block "style="background-color: rgba(168,167,190,0.26);color:#243055">
                    <h3>هتل اپادانا</h3>
                    <p>هتل چهارستاره اپادانا با چشم انداز بارگاه پاک آفتاب هشتم </p>
                </div>
            </div>
        </div>
		
    </div>
</div>
<br><br>

   <div class="row justify-content-center">
        <div class="col-md-4 col-sm-10 col-12">
            <div class="card m-3">
                <div class="card-block p-2">
                    <h4 class="card-title">رزرو اسان</h4>
                    <p class="card-text"><img src="images/calendar.png" width="100" height="100" alt="online payment" style="float:right;">از هر کجا که هستید به سادگی رزرو کنید</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-10 col-12">
            <div class="card m-3">
                <div class="card-block p-2">
                    <h4 class="card-title">یاداوری رزروها</h4>
                    <p class="card-text"><img src="images/reminder.jpg" width="100" height="100" alt="online payment" style="float:right;">رزروهای خود رو یا یاداوری های خودکار فراموش نمی کنید</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-10 col-12">
            <div class="card m-3">
                <div class="card-block p-2">
                    <h4 class="card-title">پرداخت آنلاین</h4>
                    <p class="card-text"><img src="images/payment.png" width="100" height="100" alt="online payment" style="float:right;">هزینه رزرو خود را به صورت آنلاین پرداخت کنید</p>
                </div>
            </div>
        </div>


   </div>






<div style="margin-top:500px;"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
