{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <link href="{% static 'css/BYekan.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    {% block stylesheet %}

    {% endblock %}
</head>
<style>
    {% block style %}

    {% endblock %}

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        background-color: #F9FBFD;
        font-family: BYekan, 'BYekan', tahoma;
    }

    .slideanim {
        visibility: hidden;
    }

    .fadeInanim {
        visibility: hidden;
    }

    .fadeIn {
        -webkit-animation-name: fadeIn;
        -moz-animation-name: fadeIn;
        -o-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
        visibility: visible;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: .5;
        }
        80% {
            opacity: .8;
        }
        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        50% {
            opacity: .5;
        }

        80% {
            opacity: .8;
        }

        100% {
            opacity: 1;
        }
    }

    .slide {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
    }

    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(70%);
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    @-webkit-keyframes slide {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
    }
</style>


<body>

<!-- LOGIN MODAL -->
<div class="modal" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">ورود</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username">ایمیل</label>
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">رمزعبور</label>
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <a href="homepage.html">
                    <button class="btn btn-primary">ورود</button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- register MODAL -->
<div class="modal" id="registerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">ثبت نام</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">نام</label>
                        <input type="text" placeholder="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="familyName">نام خانوادگی</label>
                        <input type="text" placeholder="family Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ٍEmail">ایمیل</label>
                        <input type="text" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">رمزعبور</label>
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" ml-2></label>
                        <input type="checkbox" class="form-check-input">
                        <a href="#"> قوانین و مقررات</a>را میپذیرم

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button class="btn btn-primary">ثبت نام</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mb-5">
    {% block navbar %}
        <nav class="navbar navbar-dark navbar-expand-md  text-center"
             style="background-color:#243055">
            <a class="navbar-brand" href="#"><b>زنبیل</b></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto   ">
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="{% url 'main' %}">خانه</a>
                    </li>
                    {% for foo in categories %}
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="{% url 'Businesses' foo.id %}">{{ foo.name }}</a>
                        </li>
                    {% endfor %}

                </ul>
                <span class="mr-auto ml-4">

                    {% if user.is_authenticated %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="userMenu" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                    <a class="dropdown-item" href="{% url 'account' user.id %}">My account</a>
                                    <a class="dropdown-item" href="#">Change password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Log out</a>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <form class="form-inline ml-auto">
                            <a href="#" class="btn btn-outline-secondary">Log in</a>
                            <a href="#" class="btn btn-primary ml-2">Sign up</a>
                        </form>
                    {% endif %}

                </span>

            </div>
        </nav>
        <form class="form-inline mr-auto mt-2 mb-4 " action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <input name="searchfield" type="text" class="form-control" placeholder="جست وجو">
            <input type="submit" value="بگرد" class="btn btn-outline-info">
        </form>


    {% endblock %}

    {% block  slider %}
        <div id="slider" class="carousel slide" data-ride="carousel" dir="ltr" style="height: 70vh">
            <ol class="carousel-indicators">
                <li class="active" data-target="#slider" data-slide-to="0"></li>
                <li class="active" data-target="#slider" data-slide-to="1"></li>
                <li class="active" data-target="#slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner h-100 " role="listbox">
                <div class="carousel-item active h-100">
                    <div class="card h-100">
                        <img src="{% static 'img/dentist.jpg' %}" alt="Second Slide"
                             class="card-img d-block img-fluid h-100 w-100">
                        <div class="card-img-overlay ">
                            <div class="card-text carousel-caption d-none d-md-block"
                                 style="background-color: rgba(168,167,190,0.26);color:#243055 ">
                                <h3>انی سا</h3>
                                <p>لبخندی زیبا در مرکز دندانپزشکی انی سا</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <img src="{% static 'images/atmosfera3.jpg' %}" alt="First Slide"
                         class="d-block img-fluid h-100 w-100">
                    <div class="carousel-caption d-none d-md-block"
                         style="background-color: rgba(168,167,190,0.26);color:#243055">
                        <h3>عمارت فردوس</h3>
                        <p>ثبت خاطراتی خوش در رستوران دل انگیز عمارت فردوس</p>
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <img src="{% static 'images/hotel1.jpg' %}" alt="Third Slide" class="d-block img-fluid h-100 w-100">
                    <div class="carousel-caption d-none d-md-block "
                         style="background-color: rgba(168,167,190,0.26);color:#243055">
                        <h3>هتل اپادانا</h3>
                        <p>هتل چهارستاره اپادانا با چشم انداز بارگاه پاک آفتاب هشتم </p>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
<br><br>
{% block content %}
{% endblock %}
</div>






</div>


<div style="margin-top:500px;"></div>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>


<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            center: new google.maps.LatLng(40.5, -0.2),
            zoom: 80
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
    }

    $(document).ready(function () {
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function (event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });

        $(window).scroll(function () {
            $(".slideanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });

            $(".fadeInanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("fadeIn");
                }
            });
        });
    })

</script>
<script src="{% static 'js/tether.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</body>
</html>
